#aboutEmp{
    position:relative;
    margin:10px;
    background-color: white;
    border-radius: 10px;
    min-height: 650px;
}

#Content{
    position:relative; 
    padding:40px;
}


#empDetailTitle{
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font-size: 35px;
}

#empDetailContent{
    font-size: 25px;
}