#WorkerList{
    position: relative;
    margin:10px;
    border-radius: 20px;
    background-color: white;
    min-height: 650px;
}

#mwTitle{
    font-size: 35px;
}

#manageContent{
    position: relative;
    padding:20px;
}

#workerList{
    
}