#order{
  position: relative;
  background-color: white;
  margin:10px;
  display: table;
  border-radius: 10px;
  min-height: 670px;
}

#tables{
  width:50%;
  float:left;
  text-align: center;
  border-right: 2px solid #EAEAEA;
  min-height:670px;
}

#takeOut{
  width:50%;
  float:right;
  text-align: center;
}

#toOrders{
  border-top:2px solid  #EAEAEA;
  justify-content: center;
  position: relative;
  display:flex;
  flex-wrap: wrap;
}