#tableBtn{
    margin:40px;
    padding-left:10px;
    padding-right: 10px;
    width: 130px;
    height:130px;
    color: white;
    background-color: #816C5B;
    border-color: #D8D8D8;
    border-radius:30px;
    text-align: center;
}

#modalContent{
    position: relative;
}

#servingFoods{
    position: relative;
}

#foodImg{
    width: 100px;
    height: 100px;
}

#curState1{
  width:100%;
  height:50px;
  margin-top:20px;
  background-color: #F7DC6F;
  color:#7D6608;
  border-radius: 20px;
}

#curState2{
  width:100%;
  height:50px;
  margin-top:20px;
  background-color: #81CBF8;
  color:#004159;
  border-radius: 20px;
}

#curState3{
  width:100%;
  height:50px;
  margin-top:20px;
  background-color: #B1DDA1;
  color:#3d5324;
  border-radius: 20px;
}

.modal-dialog{
    top:70px;
}

#modal-foot{
    justify-content: unset;
    display:unset;
    position: relative;
}

#deleteFromAdd{
    margin-left:5px;
    background-color: #99aab5;
    border-color: #99aab5;
    color:black;
    height:20px;
    padding:5px;
    font-size: 10px;
}