#takeOutBtn{
    position:relative;
    margin-top:20px;
    width:150px;
    height:70px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #74D5DD;
    border-color: #74D5DD;
    color:#2F66A9;
}

#foodImg{
    width: 100px;
    height: 100px;
}

#modal-foot{
    justify-content: unset;
    display:unset;
    position: relative;
}